<h1>Datenschutzerklärung</h1>

<p> Verantwortliche Stelle im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO),
  ist:<br /><br />Diana Küntzle
</p>

<h2>Verwendung von Scriptbibliotheken (Google Webfonts)</h2>
<h3>Art und Zweck der Verarbeitung</h3>
<p> Um unsere Inhalte browserübergreifend korrekt und grafisch ansprechend darzustellen, verwenden
  wir auf dieser Website „Google Web Fonts“ der Google LLC (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA;
  nachfolgend „Google“) zur Darstellung von Schriften. <br><br> Die
  Datenschutzrichtlinie des Bibliothekbetreibers Google finden Sie hier: <a href="https://www.google.com/policies/privacy/"
    rel="noopener" target="_blank">https://www.google.com/policies/privacy/</a></p>
<h3>Rechtsgrundlage</h3>
<p> Rechtsgrundlage für die Einbindung von Google Webfonts und dem damit verbundenen Datentransfer
  zu Google ist Ihre Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). </p>
<h3>Empfänger</h3>
<p> Der Aufruf von Scriptbibliotheken oder Schriftbibliotheken löst automatisch eine Verbindung zum
  Betreiber der Bibliothek aus. Dabei ist es theoretisch möglich – aktuell allerdings auch unklar ob und ggf. zu
  welchen Zwecken – dass der Betreiber in diesem Fall Google Daten erhebt. </p>
<h3>Speicherdauer</h3>
<p> Wir erheben keine personenbezogenen Daten, durch die Einbindung von Google Webfonts. <br><br> Weitere Informationen
  zu Google Web Fonts finden Sie unter <a href="https://developers.google.com/fonts/faq" rel="noopener" target="_blank">https://developers.google.com/fonts/faq</a>
  und in der Datenschutzerklärung von Google: <a href="https://www.google.com/policies/privacy/" rel="noopener" target="_blank">https://www.google.com/policies/privacy/</a>.
</p>
<h3>Drittlandtransfer</h3>
<p> Google verarbeitet Ihre Daten in den USA und hat sich dem EU_US Privacy Shield unterworfen <a href="https://www.privacyshield.gov/EU-US-Framework"
    rel="noopener" target="_blank">https://www.privacyshield.gov/EU-US-Framework</a>.
</p>
<h3>Bereitstellung vorgeschrieben oder erforderlich</h3>
<p> Die Bereitstellung der personenbezogenen Daten ist weder gesetzlich, noch vertraglich
  vorgeschrieben. Allerdings kann ohne die korrekte Darstellung der Inhalte von Standardschriften nicht ermöglicht
  werden. </p>
<h3>Widerruf der Einwilligung</h3>
<p> Zur Darstellung der Inhalte wird regelmäßig die Programmiersprache JavaScript verwendet. Sie
  können der Datenverarbeitung daher widersprechen, indem Sie die Ausführung von JavaScript in Ihrem Browser
  deaktivieren oder einen Einbindung JavaScript-Blocker installieren. Bitte beachten Sie, dass es hierdurch zu
  Funktionseinschränkungen auf der Website kommen kann. </p>

<h2>Netlify</h2>
<p>
  Wir verwenden die Dienste von Netlify Inc. (“Netlify”). Indem Sie uns personenbezogene Daten zur Verfügung stellen,
  erklären Sie sichfreiwillig mit der Erhebung, Verwendung und Offenlegung solcher personenbezogenen Daten an Netlify
  einverstanden. Netlify gibt Ihre persönlichen Daten nur an Dritte weiter, sofern dies für die Bereitstellung eines
  bestimmten Dienstes erforderlich und im Einklang mit unseren Datenschutzbestimmungen ist. Ihre persönlichen Daten
  werden von Netlify verwendet, um Dienste für Sie bereitzustellen und die Qualität der Webseite und der Dienste
  kontinuierlich zu verbessern, die Website und Dienste effektiver nutzen zu können, um Serviceniveaus zu bewerten
  sowie Verkehrsmuster zu überwachen und die Beliebtheit verschiedener Serviceoptionen zu messen. Netlify verwendet
  Cookies, um die Beliebtheit von Serviceangeboten zu messen. Netlify wird diese Informationen nutzen, um
  sicherzustellen, dass Besucher stets dieselbe Website sehen, wenn sie zur entsprechenden Web-URL zurückkehren. Ferner
  wird die Anzahl der klickenden Besucher auf unserer Website erhoben. Weiterführende Informationen zu der
  Datenschutzrichtlinie von Netlify finden Sie unter <a href="https://www.netlify.com/privacy/" rel="noopener" target="_blank">https://www.netlify.com/privacy/</a>.
</p>

<h2>SSL-Verschlüsselung</h2>
<p>
  Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir dem aktuellen Stand der Technik
  entsprechende Verschlüsselungsverfahren (z. B. SSL) über HTTPS.
</p>

<h2>Änderung unserer Datenschutzbestimmungen</h2>
<p>
  Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen Anforderungen
  entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B. bei der Einführung
  neuer Services. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.
</p>
