<h1>Impressum</h1>
<p>Diese Seite wird betrieben von:</p>
<p>Diana Küntzle<br>
  Sallenbusch 3<br>
  76356 Weingarten<br>
  DEUTSCHLAND<br>
  Tel: 0049 72 44 – 60 79 79</p>
<p>Verantwortlich für den Inhalt im Sinne des Presserechts und des §5 TMG ist Diana Küntzle.</p>
<p><a href="http://www.disclaimer.de/disclaimer.htm">Haftungsausschluß</a></p>
<p>Änderungen vorbehalten.</p>
<p>Stand: Juli 2008</p>
<p>&nbsp;</p>
<p>COPYRIGHT</p>
<p>Alle Texte, Dateien und weitere hier veröffentlichte Informationen unterliegen dem Copyright des Herausgebers (Diana
  Küntzle, 76356 Weingarten, Deutschland) sofern nicht ausdrücklich anders gekennzeichnet. Eine Haftung für die
  Richtigkeit der veröffentlichten Texte wird vom Herausgeber nicht übernommen.</p>
<p>Die Inhalte dieser Website sind urheberrechtlich geschützt. Ihre Nutzung ist nur zum privaten Zweck zulässig. Jede
  Vervielfältigung, Vorführung, Sendung, Vermietung und/oder Leihe der Website oder einzelner Inhalte ist ohne
  Einwilligung des Rechteinhabers untersagt und zieht straf- oder zivilrechtliche Folgen nach sich. Alle Rechte bleiben
  vorbehalten.</p>
<p>Der Rechteinhaber behält sich das Recht vor, jederzeit und ohne vorherige Ankündigung Verbesserungen und Änderungen
  an der Website oder einzelner Inhalte vorzunehmen.</p>
<p>Die hier verwendeten Logos und Warenzeichen sind Eigentum der jeweiligen Inhaber.</p>
<p>Wir distanzieren uns ausdrücklich von den Links dieser Seite zu anderen Seiten und stellen klar, daß wir uns den
  Inhalt der verlinkten Seiten nicht zueigen machen möchten.</p>
<p><a href="http://www.disclaimer.de/disclaimer.htm">Haftungsausschluß</a></p>
<p>Änderungen vorbehalten.</p>
<p>Stand: Juli 2008</p>
